<div class="cart">
  <div class="titre-topic"><%=elem.topic_title%></div>
  <div class="ctn-topic">
    <div class="description-ctn">
      <p class="description-topic"><%=elem.topic_message%></p>
      <div class="info-topic">
        <p class="created-by">Created by <%=elem.user_name%></p>
        <p class="created-at">Created at <%=elem.created_at%></p>
      </div>
    </div>
  </div>
  <div class="tags-topic">
    <p class="tag"><%=elem.topic_categorie%></p>
  </div>
</div>
