<div class="cart">
    <div class="titre-topic"><%=elem.topic_title%></div>
    <div class="ctn-topic">
        <div class="like-ctn">
            <div class="upvote">up</div>
            <div class="score"><%=elem.score_reaction%></div>
            <div class="downvote">down</div>
        </div>
        <div class="description-ctn">
            <div class="description-topic">
                <%=elem.topic_message%>
            </div>
            <div class="info-topic">
                <div class="created-by">created by <%=elem.user_name%></div>
                <div class="created-at">created at <%=elem.created_at%></div>
            </div>
        </div>
    </div>
    <div class="tags-topic">
        <%list.data.resultat.forEach((elem)=>{%>
        <div class="tag"><%=elem.tag_label%></div>
        <%})%>
    </div>
</div>  
