<!DOCTYPE html>
<html lang="fr">
  <head>
    <%-include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <%-include('../components/header'); %>
    <%list.data.resultat.forEach((elem)=>{%>
    <a class="topic-ctn" href="/detail-topic/<%=elem.topic_id%>">
      <p><%=elem.topic_title%></p>
      <p><%=elem.topic_message%></p>
      <p><%=elem.created_at%></p>

      <p><%=elem.topic_state%></p>
      <p><%=elem.user_name%></p>
      <form action="/delete-topic">
        <input type="hidden" name="id" value="<%= elem.topic_id %>" />
        <button type="submit">Supprimer le topic</button>
      </form>
      <form action="/archiver-topic">
        <input type="hidden" name="id" value="<%= elem.topic_id %>" />
        <button type="submit">Archiver le topic</button>
      </form>
      <form action="/like-topic">
        <button type="submit"></button>
      </form>
      <form action="/dislike-topic">
        <button type="submit"></button>
      </form>
    </a>

    <%})%> <%-include('../components/footer'); %>
  </body>
</html>
